.header { 
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    /* background-color: #9b0404; */
    background-color: #0096c7;
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 2px rgb(27, 27, 27);
    color: white;
    z-index: 100;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .header {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  }